body {
  text-align: center;
  background-color: rgb( 50, 100, 100);
  color: rgb( 150, 150, 150);
  font-family: Arial;
  font-size:
    60px;
}

input {
  font-size: 20px;
  color: blue
}

p {
  font-size: 20px
}
